{% extends "base.html.twig" %}

{% block title %}Admin
{% endblock %}

{% block body %}

	Nouvelle catégorie
	<div class="mx-auto max-w-7xl px-4 py-4 bg-gray-200">

		{{ form(form) }}
		</div>
	{% endblock %}
